<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html">
  <h:head>
    <title>#{msgs.title}</title>
  </h:head>
  <h:body>
    <h:form>
        <h3><h:outputFormat value="#{msgs.heading}">
            <f:param value="#{quizBean.currentCategory}"/>
            </h:outputFormat>
        </h3>
        <p><h:outputFormat value="#{quizBean.gotLastQuestionRight ? msgs.correct : msgs.notCorrect}">
                <f:param value="#{quizBean.lastCorrectAnswer}"/>
            </h:outputFormat>
        </p>
      <p>
        <h:outputFormat value="#{msgs.score}">
          <f:param value="#{quizBean.score}"/>
        </h:outputFormat>
      </p>
        <p><h:outputFormat value="#{msgs.congrats}">
                <f:param value="#{quizBean.currentCategory}"/>
            </h:outputFormat>
        </p>
      <p>
        <h:commandButton value="#{msgs.anotherQuiz}"
                         action="#{quizBean.endAction}"/>
      </p>
    </h:form>
  </h:body>
</html>