<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
  <h:head>
    <title>#{msgs.title}</title>
  </h:head>
  <h:body>
      <h1>My Trivia Quiz</h1>
      <h3>Click on the category button for the quiz</h3>
    <h:form>
        <h:commandButton value="Computer Science" action="#{quizBean.beginAction}" >
            <f:setPropertyActionListener target="#{quizBean.currentCategory}" value="Computer Science" />
        </h:commandButton>
        <h:commandButton value="Mathematics" action="#{quizBean.beginAction}" >
            <f:setPropertyActionListener target="#{quizBean.currentCategory}" value="Mathematics" />
        </h:commandButton>
        <h:commandButton value="Physics" action="#{quizBean.beginAction}" >
            <f:setPropertyActionListener target="#{quizBean.currentCategory}" value="Physics" />
        </h:commandButton>
        <h:commandButton value="Astronomy" action="#{quizBean.beginAction}" >
            <f:setPropertyActionListener target="#{quizBean.currentCategory}" value="Astronomy" />
        </h:commandButton>
    </h:form>
  </h:body>
</html>
