<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
       
    <h:head>
        <title>#{msgs.title}</title>
    </h:head>
    <h:body>
        <h:form>
            <h3><h:outputFormat value="#{msgs.heading}">
                    <f:param value="#{quizBean.currentCategory}"/>
                </h:outputFormat>
            </h3>
            <p><h:outputFormat value="#{quizBean.gotLastQuestionRight ? msgs.correct : msgs.notCorrect}">
                    <f:param value="#{quizBean.lastCorrectAnswer}"/>
                </h:outputFormat>
            </p>
            <p>
                <h:outputFormat value="#{msgs.score}">
                    <f:param value="#{quizBean.score}"/>
                </h:outputFormat>
            </p>
            <p><h:outputFormat value="#{msgs.nextQuestion}">
                    <f:param value="#{quizBean.currentQuestion}"/>
                </h:outputFormat>
            </p>
            <p><h:outputFormat value = "#{msgs.answerSelection}">
                    <f:param value="#{quizBean.currentProblemBean.answers}"/>
                </h:outputFormat>
            </p>
            <p><h:inputText value="#{quizBean.response}"/></p>
            <p><h:commandButton value="#{msgs.checkAnswer}" action="#{quizBean.checkAnswerAction}"/>
            </p>
        </h:form>
    </h:body>
</html>
